@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{ 
    .our_container {
         @apply md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1240px] xxl:max-w-[1440px] mx-auto 
         px-6 sm:px-10 md:px-14 lg:px-14 xl:px-20 xxl:px-[100px]
    }
}
::-webkit-scrollbar{
    display: none;
}
.bord{
    border: 2px solid red;
}
.pricing-clippy{
    clip-path: ellipse(70% 100% at 50% 0%);
}

.clippy {
    clip-path: ellipse(115% 100% at 50% 0%);
}
.clippy2{
    clip-path: none;
}
@media (min-width:768px) {
    .clippy2{
        clip-path: ellipse(200% 100% at 50% 0%);
    }
    
}
.required:after{
    content: "*";
    color:#D1462F;
}

.checkbox1{
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #3BD39D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox1:checked{
    background-color: #3BD39D;
}
.checkbox1:after {
    content:"";
    background: url("./home/imag/check.svg");
    width: 14px;
    height: 10px;
    color: white;
    display: none;   
}
.checkbox1:checked::after{
    display: block;
}

.clock{
    color: aliceblue;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin-right: 12px;
    font-size: 30px;
}
.box1{
    border: 2px solid transparent;
    border-image:linear-gradient(135deg, #35B1D0 0%, #40C6C9 43.23%, #32CAA7 67.19%, #26CD89 100%) ;
    border-image-slice: 1;
}
/* ################ Menu styling ###################### */
.checkbox5:checked ~ .menu-items{
    display: block;
    transform:translateX(0) ;
    overflow: hidden;
} 
.menu-items{
    transition: all 0.3s ease-in;
}
.checkbox5:checked ~ .app{
    overflow: hidden;
    height:100vh ;
}
.checkbox5:checked ~ .hamburger .line2{
    display: none;
}
 .hamburger .line1{
    transform-origin: 0% 0%;
 }
.hamburger .line3{
    transform-origin: 0% 100%;
}
 .checkbox5:checked ~ .hamburger .line1{
     transform: rotate(30deg);
}
.checkbox5:checked ~ .hamburger .line3{
   transform: rotate(-45deg);
}











